
config BATTERY_SAMSUNG
	tristate "samsung battery driver"
	help
	 Say Y to include support for samsung battery driver
	 This battery driver integrated all battery-related functions
	 To see battery-related functions,
	 refer to sec_charging_common.h


# Fuel Gauge

config FUELGAUGE_AB8500
	tristate "use AB8500 fuel gauge"
	default n
	depends on BATTERY_SAMSUNG
	help
	 Say Y to include support
	 for STE AB8500 fuel gauge driver.
	 This driver source code implemented
	 all functions for AB8500 charger.

# Charger

config CHARGER_AB8500
	tristate "AB8500 charger driver"
	default n
	depends on BATTERY_SAMSUNG
	help
	 Say Y to include support
	 for STE AB8500 charger driver.
	 This driver source code implemented
	 all functions for AB8500 charge

