#
# Ux500 SoC audio configuration
#

config SND_SOC_UX500_AB8500
	bool "Codec - AB8500"
	depends on SND_SOC_UX500 && UX500_SOC_DB8500 && AB8500_CORE && AB8500_GPADC
	select SND_SOC_AB8500
	default n
	help
		Say Y if you want to include AB8500 audio codec.
